*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.poppins-normal {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
:root{
    --button-color:#E02C6D;
    --font-color:rgba(58, 58, 58, 1);
}
.container{
    width: 1240px;
    margin:0 auto;
    padding:0 20px;
}
.nav_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}

.logo h3{
    font-weight: bold;
    font-size:24px;
    color:var(--font-color);
}
.menu{
    display: flex;
}
.nav_section .menu li{
    list-style-type: none;
}
.nav_section .menu li a{
    text-decoration: none;
    list-style-type: none;
    color:var(--font-color);
    margin-left: 34px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}
.menu_section{
    display: flex;

}
.menu_section i{
    margin-left: 34px;
    transition: 0.5s;
}
.menu_section i:hover{
    background-color: #efefef;
    padding:5px 5px;
}
.nav_section .menu li a:hover{
    background-color: #efefef;
    padding:5px 5px;
}
