*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.poppins-normal {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
:root{
    --button-color:#E02C6D;
    --font-color:rgba(58, 58, 58, 1);
    --button-text-color:#FFFFFF;
}
.container{
    width: 1240px;
    margin:0 auto;
    padding:0 20px;
}
body{
    width: 100%;
}
.nav_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}

.logo h3{
    font-weight: bold;
    font-size:1.5rem;
    color:var(--font-color);
}
.menu{
    display: flex;
}
.nav_section .menu li{
    list-style-type: none;
}
.nav_section .menu li a{
    text-decoration: none;
    list-style-type: none;
    color:var(--font-color);
    margin-left: 34px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.5s;
}
.menu_section{
    display: flex;

}
.menu_section i{
    margin-left: 34px;
    transition: 0.5s;
}
.menu_section i:hover{
    background-color: #efefef;
    padding:5px 5px;
}
.nav_section .menu li a:hover{
    background-color: #efefef;
    padding:5px 5px;
}

            /* nav section recposive*/
@media screen and (max-width:576px){
    .nav_section, .menu_section, .menu{
        flex-direction: column;
    }
    .container{
        width: 565px;
        margin: 0 auto;
        padding: 0 5px;
    }
}

            /* nav section stop*/

            /*header section start*/

.header_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0 6px;
    margin-top: 50px;
    margin-bottom: 69px;
}
.header_section .text h1{
    color:var(--font-color);
    font-weight: bold;
    font-size: 3.25rem;
    margin-bottom: 16px;
}
.header_section .text p{
    color:var(--font-color);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 16px;
}
.header_section .text button{
    background-color: var(--button-color);
    color:var(--button-text-color);
    border:none;
    padding:10px 24px;
    border-radius: 41px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
}
.header_section .text button:hover{
    background-color: var(--button-text-color);
    color:var(--button-color);
    border:1px solid var(--button-color);
}
.header_section .text button i{
    margin-left: 8px;
}
.header_section .text{
    margin-right: 133px;
    max-width: 582px;
    width: 100%;
}
.header_section .img{
    background-image: url(../imges/Circle\ design.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header_section .img img{
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 40px;
    margin-bottom: 31px;
}
@media screen and (max-width:576px) {
    .header_section{
        flex-direction: column-reverse;
        text-align: center;
        
        
    }
    .header_section .text{
        margin-bottom: 20px;
        margin-left: 150px;
    }
    .container{
        width: 565px;
        margin: 0 auto;
        padding: 0 5px;
    }
    .header_section .img{
        margin-top: 20px;
    }

}
.main_section{

}
.main_section .logo_section{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding:36px 62px;
    border:1px solid black;
}